@using Dojo.Pages
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Dojo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="ninjas" Match="NavLinkMatch.All">
                <AntDesign.Space>
                    <AntDesign.SpaceItem>
                        <AntDesign.Image Src="images/ninja_avatar_samurai_warrior_icon.png" Width="17px" Preview=false />
                    </AntDesign.SpaceItem>
                    <AntDesign.SpaceItem>
                        Ninjas
                    </AntDesign.SpaceItem>
                </AntDesign.Space>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sandbox" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Sandbox
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
